@import 'styles/utils.scss';

.education {
  grid-area: education;

  // pages breaks are not working with css grid so I will add some margin manually instead
  @media print {
    margin-top: 200px;    
  }
}

.school {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "year"
    "details";

  margin-bottom: $spacing;

  @include mq($from: desktop) {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      "year year year . details details details details details details details details";
  }

  @media print {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      "year year year . details details details details details details details details";
  }

  &:last-child {
    margin-bottom: 0;
  }

  .year {
    grid-area: year;
    color: $color-secondary;
    margin-bottom: $spacing / 2;

    @media print {
      font-size: $font-size-x-small;
    }

    @include mq($from: desktop) {
      margin-bottom: 0;
    }
  }

  .details {
    grid-area: details;

    h4 {
      font-weight: $font-weight-bold;

      @media print {
        font-weight: $font-weight-regular;
      }
    }

    h5 {
      font-style: italic;
      font-size: $font-size-small;
    }

    p {
      margin-top: $spacing;
      text-align: justify;
    }

  }
}
