@import '../../styles/utils.scss';
.hello {
  grid-area: hello;

  @include mq($from: tablet) {
    h3 {
      text-align: right;
    }
  }

  @media print {
    h3 {
      text-align: right;
    }
  }
}
