@import 'styles/utils.scss';

.skills {
  grid-area: skills;
}

.skill {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "title"
    "list";

  margin-bottom: $spacing;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq($from: desktop) {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      "title title title . list list list list list list list list";
  }

  @media print {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      "title title title . list list list list list list list list";
  }

  h4 {
    grid-area: title;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    font-size: $font-size-small;
    color: $color-secondary;
    margin-bottom: $spacing / 2;

    @include mq($from: desktop) {
      margin-bottom: 0;
    }

    @media print {
      font-size: $font-size-x-small;
      font-weight: $font-weight-regular;
    }
  }

  ul {
    grid-area: list;
  }
}
