@import '../../styles/utils.scss';

.experience {
  grid-area: experience;
  padding-bottom: 0 !important;

  @include mq($from: tablet) {
    h3 {
      text-align: right;
    }
  }

  @media print {
    h3 {
      text-align: right;
    }
  }
}

.job {
  margin-bottom: $spacing * 2;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq($from: tablet) {
    text-align: right;
  }

  @media print {
    text-align: right;
    margin-bottom: $spacing;
  }

  .dates {
    margin-bottom: $spacing / 2;
    font-weight: $font-weight-bold;
    font-size: $font-size-small;
    text-transform: uppercase;
    color: $color-secondary;

    @media print {
      font-size: $font-size-x-small;
      font-weight: $font-weight-regular;
    }
  }

  .details {
    grid-area: details;

    h4 {
      font-weight: $font-weight-bold;
      font-size: $font-size-x-regular;

      @media print {
        font-size: $font-size-small;
      }
    }

    h5 {
      font-style: italic;
      font-size: $font-size-small;

      @media print {
        font-size: $font-size-x-small;
      }
    }

    p {
      margin-top: $spacing;
      text-align: justify;
    }

    .bold {
      font-weight: $font-weight-bold;
    }
  }

  &.print-margin {
    @media print {
      padding-top: 109px;
    }
  }
}
