@import 'styles/utils.scss';

body {
  background-color: $color-background;
}

.container {
  margin: $spacing auto;
  width: 280px;
  padding: $spacing;

  @include mq($from: tablet) {
    width: 700px;
  }

  @include mq($from: desktop) {
    width: 940px;
  }

  @include mq($from: wide) {
    width: 1260px;
  }

}
