@import './styles/utils.scss';

body {
  background-color: $color-background;

  @media print {
    background-color: transparent;
  }
}

.container {
  margin: $spacing auto;
  width: 280px;
  padding: $spacing;

  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'header'
    'hello'
    'sayHello'
    'skills'
    'experience'
    'education'
    'volunteer'
    'languages'
    'interests'
    'references';

  @include mq($from: tablet) {
    width: 700px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
      'header header header header header header header'
      'hello hello hello divider sayHello sayHello sayHello'
      'experience experience experience divider skills skills skills'
      'experience experience experience divider education education education'
      'experience experience experience divider volunteer volunteer volunteer'
      'experience experience experience divider languages languages languages'
      'experience experience experience divider interests interests interests'
      'experience experience experience divider references references references'
      'experience experience experience divider . . .';
  }

  @include mq($from: desktop) {
    width: 940px;
  }

  @media print {
    padding: 0 $spacing;
    width: 90%;
    height: auto;
    margin: auto;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
      'header header header header header header header'
      'hello hello hello printDivider sayHello sayHello sayHello'
      'experience experience experience printDivider skills skills skills'
      'experience experience experience printDivider education education education'
      'experience experience experience divider volunteer volunteer volunteer'
      'experience experience experience printDivider languages languages languages'
      'experience experience experience printDivider interests interests interests'
      'experience experience experience printDivider references references references'
      'experience experience experience printDivider . . .';
  }
}

.box {
  color: $color-primary;
  font-size: $font-size-regular;
  font-family: $font-family-text;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: justify;
  padding-bottom: $spacing * 2;

  @media print {
    font-size: $font-size-small;
    line-height: 18px;
    letter-spacing: 0px;
    color: $color-primary-print;
    padding-bottom: $spacing * 1.5;

    p {
      line-height: 15px;
    }
  }

  h3 {
    color: $color-secondary;
    font-family: $font-family-title;
    margin-bottom: $spacing;
    font-size: $font-size-large;
    text-transform: uppercase;
    font-weight: $font-weight-light;

    @media print {
      font-size: $font-size-x-regular;
    }
  }
}
