html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.print-divider {
  display: none;
  grid-area: printDivider;
  text-align: center;
  position: relative;
}
.print-divider .print-divider-page-1,
.print-divider .print-divider-page-2 {
  line-height: 8px;
}
.print-divider .dot,
.print-divider .triangle-up,
.print-divider .triangle-down {
  fill: rgba(88, 89, 90, 0.7);
}
.print-divider .triangle {
  margin-top: 20px;
}
.print-divider .continued {
  text-transform: uppercase;
  color: #58595a;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  font-weight: 300;
  letter-spacing: 2px;
}
.print-divider .name-repeat {
  position: absolute;
  top: 920px;
  left: -43px;
  width: 198px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.print-divider .name-repeat .secondary {
  color: #58595a;
}
.print-divider .title-repeat {
  position: absolute;
  top: 968px;
  left: -102px;
  color: #58595a;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 18px;
}
@media print {
  .print-divider {
    display: block;
  }
}
